@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#deab5f;
    --primary-color:#312e2e;
}

button{
    padding:10px 30px;
    background:var(--main-color);
    border:none;
    cursor:pointer;
}

body{
    background:#100e0f
}

/* navbar styling */
nav{
   display:flex;
   justify-content:space-around;
   align-items:center;
   color:#fff;
   font-family:sans-serif;
   padding-top:15px;
}
li{
    display:inline;
    line-style:none;
}

li a{
    color:#fff;
    text-decoration:none;
    margin-left:50px;
    padding-bottom:10px;

}
li a:hover{
    border-bottom:2px solid var(--main-color);

}

/* navbar styling end */

/* header styling */
.header{
    background:url("images/pexels-nao-triponez-129207.jpg");
    background-position:center;
    background-size:cover;
    height:100vh;
    font-family:"Playfair", serif;
    color:var(--main-color);
    font-weight:normal;
    display:flex;
    flex-direction:column;  
    justify-content:center;
    align-items:center;
    color:#fff;
    text-align:center;
    position:relative;
}
.main-heading{
    position:absolute;
    top:7rem;
    font-size:4rem;
    word-spacing:10px;
    letter-spacing:10px;
}
.primary-heading{
    position:absolute;
    bottom:4rem;
    font-size:4rem;
    word-spacing:10px;
    letter-spacing:10px;
    margin-bottom:-40px;
}
.main-btn{
    position:absolute;
    bottom:2rem;
    padding:10px 20px;
    margin-top:20px;
    background:transparent;
    background:var(--main-color);
    transform:translateY(60px);
}

/* OURSTORY STARTS */
#our-story{
    height:100vh;
    margin-top:15%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}
.img{
    height:400px;
    width:400px;
    background:url("images/pexels-chitokan-2183027-removebg-preview.png");
    background-position:center;
    background-size:cover;
}
.title-style{
    display:flex;
    align-items:center;
}
.title{
    font-family:"Playfair", serif;
    font-size:4rem;
    color:#fff;
    transform:translateX(-100px);
}
.line{
    width:100px;
    height:2px;
    background:#fff;
    transform:translateX(-120px);   
}

.section-content p{
    max-width:500px;
    color:#fff;
    font-family:sans-serif;
    line-height:20px;
    margin:20px 0px;
}

/* OURSTORY ENDS */
/* COFFEE STORY */
.coffee-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    margin-top:10rem;
}
.img-2{
    width:400px;
    height:400px;
}

.content-section p{
    max-width:500px;
    margin-top:20px;
    font-family:sans-serif;
    color:#fff;
}

.title-two{
    font-size:3rem;
    color:#fff;
    font-family:"Playfair", serif;
    font-weight:normal;
}

/* products */

.products{
    margin-top:5rem;
}
.title-three{
    font-size:4rem;
    margin-left:10rem;
    margin-top:10rem;
    margin-bottom:10rem;
}

.cards{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
}
.card{
    border:2px solid var(--main-color);
    padding:0px 20px;
    height:400px;
    width:300px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    border-radius:5px;
    position:relative;
    margin-bottom:4rem;
}
.card-img{
    width:100px;
    height:100px;
    position:absolute;
    top:-60px;
    /* border:2px solid var(--main-color); */
}
.img-one{
    background:url("images/1.png");
    background-size:cover;
    background-position:center;
}
.img-two{
    background:url("images/2.png");
    background-size:cover;
    background-position:center;
}

.img-three{
    background:url("images/3.png");
    background-size:cover;
    background-position:center;
}

.card-title{
    color:#fff;
    font-family:sans-serif;
    margin-top:50px;
}

.card .items p{
    font-family:sans-serif;
    color:#fff;
    margin:20px 0px;

}

/* FOOTER */
footer{
    height:50vh;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:centter;
    color:#fff;
    font-family:sans-serif;
}

footer .container{
    margin:20px;
    max-width:300px;
    text-align:center;
}

footer .heading-info {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: #deab5f;
}

hr {
  margin-bottom: 20px;
  border-color: #deab5f;
  width: 500px;
  margin: 0 auto;
}

.para {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0px;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
  .main-headings,
  .primary-heading {
    font-size: 2.5rem;
  }
 #our-story {
    text-align: center;
    position:relative;
    display:flex;
    flex-direction:column;

  }

  #our-story .title {
    transform: translateX(80px);
  }

  #our-story .line {
    display: none;
  }

  .content-section {
    text-align: center;
  }

  #our-story .img-container .img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position:absolute;
    top:-10%;
    left:20%
  }

  .coffee-container .img-container {
    margin-top: 5rem;
    width: 50%;
    margin-right:5rem;
    
  }
  .title-style .title-two{
    transform:translateX(100px);
  }
  .products .title-three{
    transform:translateX(5px);
  }
  hr {
    width: 400px;
  }

  .hr-two {
    display: none;
  }

  p.para{
    margin-top: 30rem;
    /* margin-bottom:10rem; */
  }
}